In [1]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("home data.csv")
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [3]:
df.shape

(99, 2)

In [4]:
x = df['x']
y = df['y']

# gradient descent in machine learning

In [13]:
#step -1
m = 0
c = 0
Learning_rate = 0.0001

n = int(len(x))

#step -2
interation = 1000
for i in range (interation):
    y_prediction = m * x + c
    dervatives_m = (-2/n) * sum(x * (y-y_prediction))
    dervatives_c = (-2/n) * sum(y-y_prediction)
    
    #final
    
    m = m - Learning_rate * dervatives_m
    c = c - Learning_rate * dervatives_c
    #print(m,c)
    
print("for m: ", m)
print("for c: ", c)

for m:  1.4796491688881985
for c:  0.10148121497503648

# Make Prediction

In [19]:
x = float(input("Enter any values x : "))
#formula y = max + c
y = 1.4796491688881985 * x + 0.10148121497503648
y

Enter any values x : 60.297327

89.32037099670498